<p style="color: green"><%= notice %></p>

<%= render @pharmacy %>

<div>
  <%= link_to "Edit this pharmacy", edit_pharmacy_path(@pharmacy) %> |
  <%= link_to "Back to pharmacies", pharmacies_path %>

  <%= button_to "Destroy this pharmacy", @pharmacy, method: :delete %>
</div>
