<div id="<%= dom_id order %>">
  <p>
    <strong>Customerid:</strong>
    <%= order.CustomerId %>
  </p>

  <p>
    <strong>Orderdate:</strong>
    <%= order.orderDate %>
  </p>

  <p>
    <strong>Totalamount:</strong>
    <%= order.totalAmount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
